# Scratch Code for Project 01-Benson (Draft 1.0)

## List of Imports

In [116]:
from __future__ import print_function, division

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from IPython.display import Image

%matplotlib inline

## Loading the Dataset

In [117]:
# load it all up with URLs 
datelist = ['170506', '170513', '170520', '170527', '170603']
may_df_raw = pd.DataFrame()
base_url = 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_'

for date in datelist:
    csv_url = f"{base_url}{date}.txt"
    print("Loading", csv_url)
    new_df = pd.read_csv(csv_url)
    may_df_raw = pd.concat([may_df_raw, new_df], ignore_index = True)

Loading http://web.mta.info/developers/data/nyct/turnstile/turnstile_170506.txt
Loading http://web.mta.info/developers/data/nyct/turnstile/turnstile_170513.txt
Loading http://web.mta.info/developers/data/nyct/turnstile/turnstile_170520.txt
Loading http://web.mta.info/developers/data/nyct/turnstile/turnstile_170527.txt
Loading http://web.mta.info/developers/data/nyct/turnstile/turnstile_170603.txt

## Cleaning the Data

In [118]:
# eventually I'll take all the cleaning/sorting operations and put them in this section

In [119]:
# Column 'EXITS' has a ton of whitespaces in the name, so we strip it
for col in may_df_raw.columns:
    may_df_raw.rename(columns = {col: col.strip()}, inplace=True)
may_df_raw.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES', 'EXITS'],
      dtype='object')

## Exploring the Data

In [120]:
may_df_raw["UNIQUE_STATION"] = may_df_raw["STATION"] + ' - ' + may_df_raw["LINENAME"]
# confirm that duplicate station names are now made unique when merged with line name
for station in sorted(may_df_raw["UNIQUE_STATION"].unique()):
    print(station)

1 AV - L
103 ST - 1
103 ST - 6
103 ST - BC
103 ST-CORONA - 7
104 ST - A
104 ST - JZ
110 ST - 6
111 ST - 7
111 ST - A
111 ST - J
116 ST - 23
116 ST - 6
116 ST - BC
116 ST-COLUMBIA - 1
121 ST - JZ
125 ST - 1
125 ST - 23
125 ST - 456
125 ST - ACBD
135 ST - 23
135 ST - BC
137 ST CITY COL - 1
138/GRAND CONC - 45
14 ST - 123FLM
14 ST - ACEL
14 ST - FLM123
14 ST-UNION SQ - 456LNQRW
14 ST-UNION SQ - LNQR456W
145 ST - 1
145 ST - 3
145 ST - ABCD
149/GRAND CONC - 245
14TH STREET - 1
15 ST-PROSPECT - FG
155 ST - BD
155 ST - C
157 ST - 1
161/YANKEE STAD - 4BD
161/YANKEE STAD - BD4
163 ST-AMSTERDM - C
167 ST - 4
167 ST - BD
168 ST - 1AC
168 ST - AC1
169 ST - F
170 ST - 4
170 ST - BD
174 ST - 25
174-175 STS - BD
175 ST - A
176 ST - 4
18 AV - D
18 AV - F
18 AV - N
18 ST - 1
181 ST - 1
181 ST - A
182-183 STS - BD
183 ST - 4
190 ST - A
191 ST - 1
2 AV - F
20 AV - D
20 AV - N
207 ST - 1
21 ST - G
21 ST-QNSBRIDGE - F
215 ST - 1
219 ST - 25
225 ST - 25
23 ST - 1
23 ST - 6
23 ST - CE
23 ST - FM
23 ST - NRW
231 ST - 1
233 ST - 25
238 ST - 1
25 AV - D
25 ST - R
28 ST - 1
28 ST - 6
28 ST - NRW
3 AV - L
3 AV 138 ST - 6
3 AV-149 ST - 25
30 AV - NQW
33 ST - 6
33 ST-RAWSON ST - 7
34 ST-HERALD SQ - BDFMNQRW
34 ST-HUDSON YD - 7
34 ST-PENN STA - 123
34 ST-PENN STA - 123ACE
34 ST-PENN STA - ACE
36 AV - NQW
36 ST - DNR
36 ST - MR
39 AV - NQW
4 AV-9 ST - DFGMNR
40 ST LOWERY ST - 7
42 ST-BRYANT PK - BDFM7
42 ST-PORT AUTH - ACENGRS1237W
42 ST-PORT AUTH - ACENQRS1237W
45 ST - R
46 ST - MR
46 ST BLISS ST - 7
47-50 STS ROCK - BDFM
49 ST - NQRW
4AV-9 ST - DFGMNR
5 AV/53 ST - EM
5 AV/59 ST - NQRW
5 AVE - 7BDFM
50 ST - 1
50 ST - CE
50 ST - D
51 ST - 6
52 ST - 7
55 ST - D
57 ST - F
57 ST-7 AV - NQRW
59 ST - 456NQRW
59 ST - NQR456W
59 ST - NRW
59 ST COLUMBUS - 1ABCD
59 ST COLUMBUS - ABCD1
6 AV - FLM123
61 ST WOODSIDE - 7
63 DR-REGO PARK - MR
65 ST - MR
66 ST-LINCOLN - 1
67 AV - MR
68ST-HUNTER CO - 6
69 ST - 7
7 AV - BDE
7 AV - BQ
7 AV - FG
71 ST - D
72 ST - 123
72 ST - BC
72 ST-2 AVE - Q
74 ST-BROADWAY - 7EFMR
75 AV - EF
75 ST-ELDERTS - JZ
77 ST - 6
77 ST - R
79 ST - 1
79 ST - D
8 AV - ACEL
8 AV - N
8 ST-NYU - NRW
80 ST - A
81 ST-MUSEUM - BC
82 ST-JACKSON H - 7
85 ST-FOREST PK - J
86 ST - 1
86 ST - 456
86 ST - BC
86 ST - N
86 ST - R
86 ST-2 AVE - Q
88 ST - A
9 AV - D
90 ST-ELMHURST - 7
96 ST - 123
96 ST - 6
96 ST - BC
96 ST-2 AVE - Q
9TH STREET - 1
ALABAMA AV - J
ALLERTON AV - 25
AQUEDUCT N.COND - A
AQUEDUCT RACETR - A
ASTOR PL - 6
ASTORIA BLVD - NQW
ASTORIA DITMARS - NQW
ATL AV-BARCLAY - 2345BDNQR
ATL AV-BARCLAY - BDNQR2345
ATLANTIC AV - L
AVENUE H - BQ
AVENUE I - F
AVENUE J - BQ
AVENUE M - BQ
AVENUE N - F
AVENUE P - F
AVENUE U - BQ
AVENUE U - F
AVENUE U - N
AVENUE X - F
B'WAY-LAFAYETTE - BDFQ6
BAY 50 ST - D
BAY PKWY - D
BAY PKWY - F
BAY PKWY - N
BAY RIDGE AV - R
BAY RIDGE-95 ST - R
BAYCHESTER AV - 5
BEACH 105 ST - AS
BEACH 25 ST - A
BEACH 36 ST - A
BEACH 44 ST - A
BEACH 60 ST - A
BEACH 67 ST - A
BEACH 90 ST - AS
BEACH 98 ST - AS
BEDFORD AV - L
BEDFORD PK BLVD - 4
BEDFORD PK BLVD - BD
BEDFORD-NOSTRAN - G
BERGEN ST - 23
BERGEN ST - FG
BEVERLEY ROAD - BQ
BEVERLY RD - 25
BLEECKER ST - 6DF
BOROUGH HALL - 2345R
BOROUGH HALL - R2345
BOTANIC GARDEN - S2345
BOWERY - JZ
BOWLING GREEN - 45
BRIARWOOD - EF
BRIGHTON BEACH - BQ
BROAD CHANNEL - AS
BROAD ST - JZ
BROADWAY - G
BROADWAY - NQW
BROADWAY JCT - ACJLZ
BRONX PARK EAST - 25
BROOK AV - 6
BROOKLYN BRIDGE - 456JZ
BUHRE AV - 6
BURKE AV - 25
BURNSIDE AV - 4
BUSHWICK AV - L
CANAL ST - 1
CANAL ST - ACE
CANAL ST - JNQRZ6W
CANARSIE-ROCKAW - L
CARROLL ST - FG
CASTLE HILL AV - 6
CATHEDRAL PKWY - 1
CATHEDRAL PKWY - BC
CENTRAL AV - M
CENTRAL PK N110 - 23
CHAMBERS ST - 123
CHAMBERS ST - ACE23
CHAMBERS ST - JZ456
CHAUNCEY ST - JZ
CHRISTOPHER ST - 1
CHURCH AV - 25
CHURCH AV - BQ
CHURCH AV - FG
CITY / BUS - 1
CITY HALL - NRW
CLARK ST - 23
CLASSON AV - G
CLEVELAND ST - J
CLINTON-WASH AV - C
CLINTON-WASH AV - G
CONEY IS-STILLW - DFNQ
CORTELYOU RD - BQ
CORTLANDT ST - RNW
COURT SQ - 7
COURT SQ - EMG
COURT SQ-23 ST - EMG
CRESCENT ST - JZ
CROWN HTS-UTICA - 34
CYPRESS AV - 6
CYPRESS HILLS - J
DEKALB AV - BDNQR
DEKALB AV - L
DELANCEY/ESSEX - FJMZ
DITMAS AV - F
DYCKMAN ST - 1
DYCKMAN ST - A
E 143/ST MARY'S - 6
E 149 ST - 6
E 180 ST - 25
EAST 105 ST - L
EAST BROADWAY - F
EASTCHSTER/DYRE - 5
EASTN PKWY-MUSM - 23
ELDER AV - 6
ELMHURST AV - MR
EUCLID AV - AC
EXCHANGE PLACE - 1
FAR ROCKAWAY - A
FLATBUSH AV-B.C - 25
FLUSHING AV - G
FLUSHING AV - JM
FLUSHING-MAIN - 7
FORDHAM RD - 4
FORDHAM RD - BD
FOREST AVE - M
FOREST HILLS 71 - EFMR
FRANKLIN AV - 2345S
FRANKLIN AV - ACS
FRANKLIN ST - 1
FREEMAN ST - 25
FRESH POND RD - M
FT HAMILTON PKY - D
FT HAMILTON PKY - FG
FT HAMILTON PKY - N
FULTON ST - 2345ACJZ
FULTON ST - ACJZ2345
FULTON ST - G
GATES AV - JZ
GRAHAM AV - L
GRAND ARMY PLAZ - 23
GRAND ST - BD
GRAND ST - L
GRAND-NEWTOWN - MR
GRANT AV - A
GRD CNTRL-42 ST - 4567S
GREENPOINT AV - G
GROVE STREET - 1
GUN HILL RD - 25
GUN HILL RD - 5
HALSEY ST - J
HALSEY ST - L
HARLEM 148 ST - 3
HARRISON - 1
HEWES ST - JM
HIGH ST - AC
HOUSTON ST - 1
HOWARD BCH JFK - A
HOYT ST - 23
HOYT-SCHER - ACG
HUNTERS PT AV - 7
HUNTS POINT AV - 6
INTERVALE AV - 25
INWOOD-207 ST - A
JACKSON AV - 25
JAMAICA 179 ST - F
JAMAICA CENTER - EJZ
JAMAICA VAN WK - E
JAY ST-METROTEC - ACF
JAY ST-METROTEC - R
JEFFERSON ST - L
JFK JAMAICA CT1 - E
JKSN HT-ROOSVLT - EFMR7
JOURNAL SQUARE - 1
JUNCTION BLVD - 7
KEW GARDENS - EF
KINGS HWY - BQ
KINGS HWY - F
KINGS HWY - N
KINGSBRIDGE RD - 4
KINGSBRIDGE RD - BD
KINGSTON AV - 3
KINGSTON-THROOP - C
KNICKERBOCKER - M
KOSCIUSZKO ST - J
LACKAWANNA - 1
LAFAYETTE AV - C
LEXINGTON AV/53 - EM6
LEXINGTON AV/63 - F
LIBERTY AV - C
LIVONIA AV - L
LONGWOOD AV - 6
LORIMER ST - JM
LORIMER ST - LG
MARBLE HILL-225 - 1
MARCY AV - JMZ
METROPOLITAN AV - GL
METROPOLITAN AV - M
METS-WILLETS PT - 7
MIDDLETOWN RD - 6
MONTROSE AV - L
MORGAN AV - L
MORISN AV/SNDVW - 6
MORRIS PARK - 5
MOSHOLU PKWY - 4
MT EDEN AV - 4
MYRTLE AV - JMZ
MYRTLE-WILLOUGH - G
MYRTLE-WYCKOFF - LM
NASSAU AV - G
NECK RD - BQ
NEPTUNE AV - F
NEREID AV - 25
NEVINS ST - 2345
NEW LOTS - L
NEW LOTS AV - 3
NEW UTRECHT AV - ND
NEWARK BM BW - 1
NEWARK C - 1
NEWARK HM HE - 1
NEWARK HW BMEBE - 1
NEWKIRK AV - 25
NEWKIRK PLAZA - BQ
NORTHERN BLVD - MR
NORWOOD 205 ST - D
NORWOOD AV - JZ
NOSTRAND AV - 3
NOSTRAND AV - AC
OCEAN PKWY - Q
ORCHARD BEACH - 6
OZONE PK LEFFRT - A
PARK PLACE - 23ACE
PARK PLACE - S
PARKCHESTER - 6
PARKSIDE AV - BQ
PARSONS BLVD - F
PATH NEW WTC - 1
PATH WTC - 1
PATH WTC 2 - 1
PAVONIA/NEWPORT - 1
PELHAM BAY PARK - 6
PELHAM PKWY - 25
PELHAM PKWY - 5
PENNSYLVANIA AV - 3
PRESIDENT ST - 25
PRINCE ST - NRW
PROSPECT AV - 25
PROSPECT AV - R
PROSPECT PARK - BQS
QUEENS PLAZA - EMR
QUEENSBORO PLZ - 7NQW
RALPH AV - C
RECTOR ST - 1
RECTOR ST - NRW
RIT-MANHATTAN - R
RIT-ROOSEVELT - R
ROCKAWAY AV - 3
ROCKAWAY AV - C
ROCKAWAY BLVD - A
ROCKAWAY PARK B - AS
ROOSEVELT ISLND - F
SARATOGA AV - 3
SENECA AVE - M
SHEEPSHEAD BAY - BQ
SHEPHERD AV - C
SIMPSON ST - 25
SMITH-9 ST - FG
SOUTH FERRY - 1RW
SPRING ST - 6
SPRING ST - CE
ST LAWRENCE AV - 6
ST. GEORGE - 1
STEINWAY ST - MR
STERLING ST - 25
SUTPHIN BLVD - F
SUTPHIN-ARCHER - EJZ
SUTTER AV - L
THIRTY ST - 1
THIRTY THIRD ST - 1
TIMES SQ-42 ST - 1237ACENQRS
TIMES SQ-42 ST - 1237ACENQRSW
TIMES SQ-42 ST - ACENQRS1237W
TOMPKINSVILLE - 1
TREMONT AV - BD
TWENTY THIRD ST - 1
UNION ST - R
UTICA AV - AC
V.CORTLANDT PK - 1
VAN SICLEN AV - 3
VAN SICLEN AV - JZ
VAN SICLEN AVE - C
VERNON-JACKSON - 7
W 4 ST-WASH SQ - ABCDEFM
W 8 ST-AQUARIUM - FQ
WAKEFIELD/241 - 2
WALL ST - 23
WALL ST - 45
WEST FARMS SQ - 25
WESTCHESTER SQ - 6
WHITEHALL S-FRY - R1W
WHITLOCK AV - 6
WILSON AV - L
WINTHROP ST - 25
WOODHAVEN BLVD - JZ
WOODHAVEN BLVD - MR
WOODLAWN - 4
WORLD TRADE CTR - ACE23
YORK ST - F
ZEREGA AV - 6

In [121]:
may_df_sorted = may_df_raw.sort_values(['UNIQUE_STATION', 'UNIT', 'C/A', 'SCP', 'DATE', 'TIME']).reset_index()
may_df_sorted.head(5)

,index,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,UNIQUE_STATION
0,29387,H007,R248,00-00-00,1 AV,L,BMT,04/29/2017,00:00:00,REGULAR,12278147,13533772,1 AV - L
1,29388,H007,R248,00-00-00,1 AV,L,BMT,04/29/2017,04:00:00,REGULAR,12278188,13534099,1 AV - L
2,29389,H007,R248,00-00-00,1 AV,L,BMT,04/29/2017,08:00:00,REGULAR,12278271,13534359,1 AV - L
3,29390,H007,R248,00-00-00,1 AV,L,BMT,04/29/2017,12:00:00,REGULAR,12278813,13535235,1 AV - L
4,29391,H007,R248,00-00-00,1 AV,L,BMT,04/29/2017,16:00:00,REGULAR,12279597,13536282,1 AV - L

In [122]:
print("Unique Values")
for col in may_df_sorted.columns:
    print(f"    *\t{col}:", len(may_df_sorted[col].unique()))

Unique Values
    *	index: 981047
    *	C/A: 734
    *	UNIT: 467
    *	SCP: 231
    *	STATION: 376
    *	LINENAME: 114
    *	DIVISION: 6
    *	DATE: 35
    *	TIME: 32851
    *	DESC: 2
    *	ENTRIES: 788004
    *	EXITS: 767013
    *	UNIQUE_STATION: 476

In [123]:
may_df = may_df_sorted.filter(['UNIQUE_STATION', 'UNIT', 'C/A', 'SCP', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES', 'EXITS'])
may_df.head(5)

,UNIQUE_STATION,UNIT,C/A,SCP,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,1 AV - L,R248,H007,00-00-00,BMT,04/29/2017,00:00:00,REGULAR,12278147,13533772
1,1 AV - L,R248,H007,00-00-00,BMT,04/29/2017,04:00:00,REGULAR,12278188,13534099
2,1 AV - L,R248,H007,00-00-00,BMT,04/29/2017,08:00:00,REGULAR,12278271,13534359
3,1 AV - L,R248,H007,00-00-00,BMT,04/29/2017,12:00:00,REGULAR,12278813,13535235
4,1 AV - L,R248,H007,00-00-00,BMT,04/29/2017,16:00:00,REGULAR,12279597,13536282

In [124]:
# look at 50 rows for kicks
may_df.sample(50, random_state=23)

,UNIQUE_STATION,UNIT,C/A,SCP,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
251882,50 ST - D,R234,E004,00-00-01,BMT,06/02/2017,00:00:00,REGULAR,4919456,5021575
695599,JACKSON AV - 25,R405,R312,00-00-00,IRT,05/13/2017,21:00:00,REGULAR,2586499,247644
279416,59 ST COLUMBUS - ABCD1,R084,N049,01-02-01,IND,05/21/2017,04:00:00,REGULAR,15270179,12471518
110435,207 ST - 1,R037,R188,00-06-01,IRT,05/15/2017,04:00:00,REGULAR,582930,1193840
267719,59 ST - 456NQRW,R050,R244A,01-06-00,IRT,05/24/2017,12:00:00,REGULAR,7470706,9358933
757514,LEXINGTON AV/53 - EM6,R017,N305,01-03-03,IND,05/09/2017,00:00:00,REGULAR,11375346,8629190
651788,GRD CNTRL-42 ST - 4567S,R045,R236,00-03-01,IRT,05/23/2017,17:00:00,REGULAR,1091123,409212
173167,34 ST-PENN STA - 123,R031,R137,02-03-01,IRT,05/17/2017,16:00:00,REGULAR,7142324,4727495
284369,6 AV - FLM123,R163,H003,01-00-01,BMT,05/05/2017,20:00:00,REGULAR,5154006,1330227
597684,FLUSHING-MAIN - 7,R055,R533,00-03-07,IRT,05/20/2017,16:00:00,REGULAR,2047824,1011354
20548,125 ST - 1,R034,R174,00-00-00,IRT,05/20/2017,12:00:00,REGULAR,638268673,319151177
774056,METROPOLITAN AV - GL,R268,N409,00-00-02,IND,05/28/2017,21:00:00,REGULAR,15025609,4257030
159462,34 ST-HERALD SQ - BDFMNQRW,R022,N505,02-06-00,IND,05/13/2017,12:00:00,REGULAR,1041343902,1007471293
842715,PATH NEW WTC - 1,R540,PTH22,02-01-02,PTH,05/17/2017,18:03:38,REGULAR,144091,23839
295858,66 ST-LINCOLN - 1,R164,R160A,00-05-01,IRT,05/19/2017,09:00:00,REGULAR,0,865
457671,BRIGHTON BEACH - BQ,R172,B031,01-06-01,BMT,05/19/2017,12:00:00,REGULAR,777933,3605977
529562,CLINTON-WASH AV - C,R284,N112A,01-06-00,IND,05/24/2017,16:00:00,REGULAR,134245299,1279
503303,CHAMBERS ST - ACE23,R029,N091,02-06-00,IND,05/28/2017,12:00:00,REGULAR,3999240,867806
931805,TOMPKINSVILLE - 1,R165,S102,00-03-01,SRT,05/26/2017,22:00:00,REGULAR,7387741,2410682
885795,SARATOGA AV - 3,R064,R628,00-00-01,IRT,06/02/2017,16:00:00,REGULAR,8974709,4498118
208401,42 ST-PORT AUTH - ACENQRS1237W,R011,N062,01-03-03,IND,04/30/2017,12:00:00,REGULAR,3502413,3200867
591419,FLATBUSH AV-B.C - 25,R110,R647,02-05-02,IRT,05/23/2017,05:00:00,REGULAR,102288,1448055
392310,ATLANTIC AV - L,R348,H035,00-00-00,BMT,05/21/2017,00:00:00,REGULAR,490900,98326
176224,34 ST-PENN STA - 123ACE,R293,R138,00-00-02,IRT,05/02/2017,14:00:00,REGULAR,19979683,10691845
480437,CANAL ST - JNQRZ6W,R462,A043,00-00-01,BMT,05/08/2017,17:00:00,REGULAR,353925907,438361198
290485,63 DR-REGO PARK - MR,R202,N330C,01-06-01,IND,06/02/2017,16:00:00,REGULAR,8054070,1105469
30555,135 ST - 23,R207,R306,00-05-00,IRT,05/01/2017,04:00:00,REGULAR,10607,0
827715,NOSTRAND AV - 3,R061,R623,00-00-00,IRT,05/27/2017,00:00:00,REGULAR,10149078,11292651
777125,METS-WILLETS PT - 7,R328,R532,00-00-04,IRT,05/02/2017,17:00:00,REGULAR,452892,834089
704330,JAMAICA CENTER - EJZ,R025,N607,01-00-01,IND,05/02/2017,12:00:00,REGULAR,773601,653358
381133,ASTORIA DITMARS - NQW,R095,R515,00-00-03,BMT,05/30/2017,08:00:00,REGULAR,991224,198172
383473,ATL AV-BARCLAY - 2345BDNQR,R057,R610,00-03-06,IRT,05/28/2017,20:00:00,REGULAR,2641595,271849
694066,INWOOD-207 ST - A,R173,N001,01-06-02,IND,05/04/2017,05:00:00,REGULAR,575450,442055
109077,20 AV - N,R393,D009,00-00-00,BMT,06/02/2017,01:00:00,REGULAR,6267687,6348440
292291,66 ST-LINCOLN - 1,R164,R159,01-00-03,IRT,05/19/2017,17:00:00,REGULAR,7405609,6511855
976673,WOODLAWN - 4,R052,R294,00-00-03,IRT,05/28/2017,04:00:00,REGULAR,5451469,1254765
2019,1 AV - L,R248,H008,01-00-04,BMT,05/20/2017,12:00:00,REGULAR,6286619,663944
119970,23 ST - 6,R131,R227,00-05-00,IRT,05/03/2017,01:00:00,REGULAR,735,0
56095,145 ST - ABCD,R101,N019,01-00-00,IND,05/08/2017,04:00:00,REGULAR,6250308,13478354
299153,68ST-HUNTER CO - 6,R177,R246,00-00-03,IRT,05/05/2017,17:00:00,REGULAR,5377995,3284206
158047,34 ST-HERALD SQ - BDFMNQRW,R022,N505,02-00-03,IND,05/22/2017,08:00:00,REGULAR,8085511,4833313
895219,SOUTH FERRY - 1RW,R001,R101,02-06-00,IRT,05/10/2017,21:00:00,REGULAR,625,0
376082,AQUEDUCT RACETR - A,R464,N181A,00-06-02,IND,06/01/2017,00:00:00,REGULAR,704992,77766
456744,BRIGHTON BEACH - BQ,R172,B031,01-00-02,BMT,05/05/2017,00:00:00,REGULAR,2964636,1774680
425768,BEDFORD AV - L,R235,H009,00-00-00,BMT,05/10/2017,08:00:00,REGULAR,3397933,1314615
963024,WALL ST - 45,R043,R204A,03-06-01,IRT,05/23/2017,14:00:00,REGULAR,1413897,3110367
310115,72 ST - 123,R452,R161A,01-00-02,IRT,04/30/2017,05:00:00,REGULAR,1102046,1150293
877586,RIT-ROOSEVELT - R,R469,TRAM2,00-00-01,RIT,05/31/2017,13:00:00,REGULAR,2221814,23789
729931,JUNCTION BLVD - 7,R097,R528,00-06-01,IRT,05/17/2017,20:00:00,REGULAR,3489,0
208356,42 ST-PORT AUTH - ACENQRS1237W,R011,N062,01-03-02,IND,05/28/2017,00:00:00,REGULAR,13654125,9543108

In [125]:
# take a closer look at a busy station to investigate relationship between C/A, UNIT, SCP
fulton_df = may_df[may_df['UNIQUE_STATION'] == 'FULTON ST - 2345ACJZ']

In [126]:
# what exactly happens when 'RECOVR AUD' is present?

# next line locates rows containing 'RECOVR AUD' 
# fulton_df[fulton_df['DESC'] == 'RECOVR AUD']
fulton_df.loc[623805:623815]

,UNIQUE_STATION,UNIT,C/A,SCP,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
623805,FULTON ST - 2345ACJZ,R014,R205A,04-02-00,IRT,05/24/2017,13:00:00,REGULAR,1102663,760587
623806,FULTON ST - 2345ACJZ,R014,R205A,04-02-00,IRT,05/24/2017,17:00:00,REGULAR,1103164,760808
623807,FULTON ST - 2345ACJZ,R014,R205A,04-02-00,IRT,05/24/2017,21:00:00,REGULAR,1104177,760859
623808,FULTON ST - 2345ACJZ,R014,R205A,04-02-00,IRT,05/25/2017,01:00:00,REGULAR,1104258,760873
623809,FULTON ST - 2345ACJZ,R014,R205A,04-02-00,IRT,05/25/2017,05:00:00,REGULAR,1104261,760876
623810,FULTON ST - 2345ACJZ,R014,R205A,04-02-00,IRT,05/25/2017,09:00:00,REGULAR,1104291,761321
623811,FULTON ST - 2345ACJZ,R014,R205A,04-02-00,IRT,05/25/2017,13:00:00,RECOVR AUD,1104387,761818
623812,FULTON ST - 2345ACJZ,R014,R205A,04-02-00,IRT,05/25/2017,17:00:00,REGULAR,1104987,761986
623813,FULTON ST - 2345ACJZ,R014,R205A,04-02-00,IRT,05/25/2017,21:00:00,REGULAR,1105886,762042
623814,FULTON ST - 2345ACJZ,R014,R205A,04-02-00,IRT,05/26/2017,01:00:00,REGULAR,1105957,762062
623815,FULTON ST - 2345ACJZ,R014,R205A,04-02-00,IRT,05/26/2017,05:00:00,REGULAR,1105961,762067

In [127]:
# pull out a small station with at least two SCPs to practice sorting/summing the counts
CE_23rd_df = may_df[may_df['UNIQUE_STATION'] == '23 ST - CE']
CE_23rd_df.head(10)

,UNIQUE_STATION,UNIT,C/A,SCP,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
121413,23 ST - CE,R111,N075,01-05-00,IND,04/29/2017,00:00:00,REGULAR,256,0
121414,23 ST - CE,R111,N075,01-05-00,IND,04/29/2017,04:00:00,REGULAR,256,0
121415,23 ST - CE,R111,N075,01-05-00,IND,04/29/2017,08:00:00,REGULAR,256,0
121416,23 ST - CE,R111,N075,01-05-00,IND,04/29/2017,12:00:00,REGULAR,256,0
121417,23 ST - CE,R111,N075,01-05-00,IND,04/29/2017,16:00:00,REGULAR,256,0
121418,23 ST - CE,R111,N075,01-05-00,IND,04/29/2017,20:00:00,REGULAR,256,0
121419,23 ST - CE,R111,N075,01-05-00,IND,04/30/2017,00:00:00,REGULAR,256,0
121420,23 ST - CE,R111,N075,01-05-00,IND,04/30/2017,04:00:00,REGULAR,256,0
121421,23 ST - CE,R111,N075,01-05-00,IND,04/30/2017,08:00:00,REGULAR,256,0
121422,23 ST - CE,R111,N075,01-05-00,IND,04/30/2017,12:00:00,REGULAR,256,0

## Finding threshold between actual reverse count and reset

Some turnstiles count backwards, so the difference between current and previous cells in ENTRIES or EXITS will be a negative number in those cases. Occasionally, a turnstile is reset to 0, in which case the difference will also be a negative number, but a much larger one. The following attmepts to figure out what number might be set as a threshold to determine which case is which.

In trying to find these, we also found that SCPs in the same station can have different numbers, which can be a problem if one sorts UNIQUE_STATION > SCP > DATE > TIME. One must factor in Remote Unit and Control Area, and sort  UNIQUE_STATION > UNIT > C/A > SCP > DATE > TIME.

### Create tiny DF before running on the whole DF

In [128]:
small_df = CE_23rd_df.head(10)
small_df

,UNIQUE_STATION,UNIT,C/A,SCP,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
121413,23 ST - CE,R111,N075,01-05-00,IND,04/29/2017,00:00:00,REGULAR,256,0
121414,23 ST - CE,R111,N075,01-05-00,IND,04/29/2017,04:00:00,REGULAR,256,0
121415,23 ST - CE,R111,N075,01-05-00,IND,04/29/2017,08:00:00,REGULAR,256,0
121416,23 ST - CE,R111,N075,01-05-00,IND,04/29/2017,12:00:00,REGULAR,256,0
121417,23 ST - CE,R111,N075,01-05-00,IND,04/29/2017,16:00:00,REGULAR,256,0
121418,23 ST - CE,R111,N075,01-05-00,IND,04/29/2017,20:00:00,REGULAR,256,0
121419,23 ST - CE,R111,N075,01-05-00,IND,04/30/2017,00:00:00,REGULAR,256,0
121420,23 ST - CE,R111,N075,01-05-00,IND,04/30/2017,04:00:00,REGULAR,256,0
121421,23 ST - CE,R111,N075,01-05-00,IND,04/30/2017,08:00:00,REGULAR,256,0
121422,23 ST - CE,R111,N075,01-05-00,IND,04/30/2017,12:00:00,REGULAR,256,0

#### The following was aborted because there's a better way to do it

Check out the df.apply() method to see how it applys a function to each row of a dataframe. But simply running the .diff() method on a series should spit out the difference between current and previous cell.

In [129]:
# 3131 entries in CE_23rd_sorted

# running .iterrows() on df returns index, row tuple for each row

# difflist = []
# prev_cell = small_df['ENTRIES'].iloc[0]
# for index, row in small_df.iterrows():
#     diff = row['ENTRIES'] - prev_cell
#     difflist.append((index, diff))
# print(difflist)

### Calculating difference between adjacent cells in ENT and EX columns

Having negative numbers in the ENT_DIFF and EX_DIFF columns indicate special cases, including an SCP counting backwards (smaller number), an SCP reset (probably large number), a transition to a new SCP (any size, can also be positive), and two SCPs of the same number that got mashed together. The last was fixed by adding UNIT and C/A back into the sort.

In [130]:
may_df['ENT_DIFF'] = may_df['ENTRIES'].diff()
may_df['EX_DIFF'] = may_df['EXITS'].diff()
may_df.head(5)

,UNIQUE_STATION,UNIT,C/A,SCP,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,ENT_DIFF,EX_DIFF
0,1 AV - L,R248,H007,00-00-00,BMT,04/29/2017,00:00:00,REGULAR,12278147,13533772,NaN,NaN
1,1 AV - L,R248,H007,00-00-00,BMT,04/29/2017,04:00:00,REGULAR,12278188,13534099,41.0,327.0
2,1 AV - L,R248,H007,00-00-00,BMT,04/29/2017,08:00:00,REGULAR,12278271,13534359,83.0,260.0
3,1 AV - L,R248,H007,00-00-00,BMT,04/29/2017,12:00:00,REGULAR,12278813,13535235,542.0,876.0
4,1 AV - L,R248,H007,00-00-00,BMT,04/29/2017,16:00:00,REGULAR,12279597,13536282,784.0,1047.0

We pull out the case a transition from one SCP or C/A to another by finding a transition and setting ENT/EX values to 0.

In [131]:
# is there a way to do these with an or operation?
may_df.loc[may_df['SCP'] != may_df['SCP'].shift(+1), 'ENT_DIFF'] = 0.0
may_df.loc[may_df['SCP'] != may_df['SCP'].shift(+1), 'EX_DIFF'] = 0.0

may_df.loc[may_df['C/A'] != may_df['C/A'].shift(+1), 'ENT_DIFF'] = 0.0
may_df.loc[may_df['C/A'] != may_df['C/A'].shift(+1), 'EX_DIFF'] = 0.0

In [132]:
# ent_neg_sample = may_df[may_df['ENT_DIFF'] < 0]['ENT_DIFF'].sample(100)
# ex_neg_sample = may_df[may_df['EX_DIFF'] < 0]['EX_DIFF'].sample(100)
# ent_neg_sample.sort_values()[0:50]
# ent_neg_sample.hist()
# ex_neg_sample.hist()

ent_neg_df = may_df[may_df['ENT_DIFF'] < 0]['ENT_DIFF']
ex_neg_df = may_df[may_df['EX_DIFF'] < 0]['EX_DIFF']
ent_neg


# ent_neg.sample(500).hist()
# ent_neg.sample(500).sort_values()

630      -368096376.0
1050       -5485032.0
1889     -947480357.0
2099       -6271257.0
2720       -7546383.0
3134       -1442521.0
3563      -32396044.0
4007      -12944266.0
4022        -125068.0
4880       -2970931.0
5090       -5312352.0
5513       -1186749.0
5726      -12170857.0
6151       -8150973.0
6576        -950990.0
6789       -6378553.0
7215        -722736.0
7425       -2557744.0
7845       -2812253.0
8056             -1.0
8068             -1.0
8069           -114.0
8070            -72.0
8071            -44.0
8072            -33.0
8073            -12.0
8075           -123.0
8076            -71.0
8077            -59.0
8078            -46.0
             ...
969188       -22756.0
969817    -83886177.0
970027    -63401916.0
970606     -6431217.0
970799          -76.0
971203     -5188413.0
971625    -14737754.0
972046     -2267589.0
973100    -65876490.0
973312      -346546.0
973736      -598406.0
974372     -1335930.0
974584     -9776115.0
975008     -2645068.0
975223      -262212.0
975653    -10818285.0
976288     -3247132.0
976918     -5525303.0
977127     -1096192.0
977545      -949631.0
977754     -4115570.0
977963        -1013.0
978338      -924912.0
978546     -7719206.0
978964     -7123280.0
979586     -3112331.0
980002    -52961804.0
980420      -408722.0
980629       -86395.0
980838          -29.0
Name: ENT_DIFF, Length: 10062, dtype: float64

In [133]:
# may_df[485000:485050]
may_df[200:250]

,UNIQUE_STATION,UNIT,C/A,SCP,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,ENT_DIFF,EX_DIFF
200,1 AV - L,R248,H007,00-00-00,BMT,06/01/2017,08:00:00,REGULAR,12378894,13657181,328.0,887.0
201,1 AV - L,R248,H007,00-00-00,BMT,06/01/2017,12:00:00,REGULAR,12379986,13658574,1092.0,1393.0
202,1 AV - L,R248,H007,00-00-00,BMT,06/01/2017,16:00:00,REGULAR,12380934,13659322,948.0,748.0
203,1 AV - L,R248,H007,00-00-00,BMT,06/01/2017,20:00:00,REGULAR,12382021,13660230,1087.0,908.0
204,1 AV - L,R248,H007,00-00-00,BMT,06/02/2017,00:00:00,REGULAR,12382438,13660884,417.0,654.0
205,1 AV - L,R248,H007,00-00-00,BMT,06/02/2017,04:00:00,REGULAR,12382484,13660996,46.0,112.0
206,1 AV - L,R248,H007,00-00-00,BMT,06/02/2017,08:00:00,REGULAR,12382817,13661819,333.0,823.0
207,1 AV - L,R248,H007,00-00-00,BMT,06/02/2017,12:00:00,REGULAR,12383876,13663132,1059.0,1313.0
208,1 AV - L,R248,H007,00-00-00,BMT,06/02/2017,16:00:00,REGULAR,12384865,13664033,989.0,901.0
209,1 AV - L,R248,H007,00-00-00,BMT,06/02/2017,20:00:00,REGULAR,12385926,13665045,1061.0,1012.0
210,1 AV - L,R248,H007,00-00-01,BMT,04/29/2017,00:00:00,REGULAR,57144765,36492040,0.0,0.0
211,1 AV - L,R248,H007,00-00-01,BMT,04/29/2017,04:00:00,REGULAR,57144838,36492313,73.0,273.0
212,1 AV - L,R248,H007,00-00-01,BMT,04/29/2017,08:00:00,REGULAR,57144990,36492505,152.0,192.0
213,1 AV - L,R248,H007,00-00-01,BMT,04/29/2017,12:00:00,REGULAR,57145709,36492924,719.0,419.0
214,1 AV - L,R248,H007,00-00-01,BMT,04/29/2017,16:00:00,REGULAR,57146718,36493465,1009.0,541.0
215,1 AV - L,R248,H007,00-00-01,BMT,04/29/2017,20:00:00,REGULAR,57147435,36493895,717.0,430.0
216,1 AV - L,R248,H007,00-00-01,BMT,04/30/2017,00:00:00,REGULAR,57148047,36494487,612.0,592.0
217,1 AV - L,R248,H007,00-00-01,BMT,04/30/2017,04:00:00,REGULAR,57148205,36494744,158.0,257.0
218,1 AV - L,R248,H007,00-00-01,BMT,04/30/2017,08:00:00,REGULAR,57148291,36494886,86.0,142.0
219,1 AV - L,R248,H007,00-00-01,BMT,04/30/2017,12:00:00,REGULAR,57148823,36495180,532.0,294.0
220,1 AV - L,R248,H007,00-00-01,BMT,04/30/2017,16:00:00,REGULAR,57149615,36495649,792.0,469.0
221,1 AV - L,R248,H007,00-00-01,BMT,04/30/2017,20:00:00,REGULAR,57150335,36496057,720.0,408.0
222,1 AV - L,R248,H007,00-00-01,BMT,05/01/2017,00:00:00,REGULAR,57150751,36496354,416.0,297.0
223,1 AV - L,R248,H007,00-00-01,BMT,05/01/2017,04:00:00,REGULAR,57150802,36496399,51.0,45.0
224,1 AV - L,R248,H007,00-00-01,BMT,05/01/2017,08:00:00,REGULAR,57151338,36496825,536.0,426.0
225,1 AV - L,R248,H007,00-00-01,BMT,05/01/2017,12:00:00,REGULAR,57152120,36497254,782.0,429.0
226,1 AV - L,R248,H007,00-00-01,BMT,05/01/2017,16:00:00,REGULAR,57153233,36497575,1113.0,321.0
227,1 AV - L,R248,H007,00-00-01,BMT,05/01/2017,20:00:00,REGULAR,57154368,36497851,1135.0,276.0
228,1 AV - L,R248,H007,00-00-01,BMT,05/02/2017,00:00:00,REGULAR,57154755,36498109,387.0,258.0
229,1 AV - L,R248,H007,00-00-01,BMT,05/02/2017,04:00:00,REGULAR,57154801,36498151,46.0,42.0
230,1 AV - L,R248,H007,00-00-01,BMT,05/02/2017,08:00:00,REGULAR,57155365,36498565,564.0,414.0
231,1 AV - L,R248,H007,00-00-01,BMT,05/02/2017,12:00:00,REGULAR,57156839,36499021,1474.0,456.0
232,1 AV - L,R248,H007,00-00-01,BMT,05/02/2017,16:00:00,REGULAR,57157995,36499337,1156.0,316.0
233,1 AV - L,R248,H007,00-00-01,BMT,05/02/2017,20:00:00,REGULAR,57159351,36499566,1356.0,229.0
234,1 AV - L,R248,H007,00-00-01,BMT,05/03/2017,00:00:00,REGULAR,57159902,36499881,551.0,315.0
235,1 AV - L,R248,H007,00-00-01,BMT,05/03/2017,04:00:00,REGULAR,57159969,36499933,67.0,52.0
236,1 AV - L,R248,H007,00-00-01,BMT,05/03/2017,08:00:00,REGULAR,57160496,36500433,527.0,500.0
237,1 AV - L,R248,H007,00-00-01,BMT,05/03/2017,12:00:00,REGULAR,57161993,36500896,1497.0,463.0
238,1 AV - L,R248,H007,00-00-01,BMT,05/03/2017,16:00:00,REGULAR,57163181,36501223,1188.0,327.0
239,1 AV - L,R248,H007,00-00-01,BMT,05/03/2017,20:00:00,REGULAR,57164658,36501502,1477.0,279.0
240,1 AV - L,R248,H007,00-00-01,BMT,05/04/2017,00:00:00,REGULAR,57165270,36501797,612.0,295.0
241,1 AV - L,R248,H007,00-00-01,BMT,05/04/2017,04:00:00,REGULAR,57165340,36501863,70.0,66.0
242,1 AV - L,R248,H007,00-00-01,BMT,05/04/2017,08:00:00,REGULAR,57165915,36502306,575.0,443.0
243,1 AV - L,R248,H007,00-00-01,BMT,05/04/2017,12:00:00,REGULAR,57167523,36502796,1608.0,490.0
244,1 AV - L,R248,H007,00-00-01,BMT,05/04/2017,16:00:00,REGULAR,57168607,36503106,1084.0,310.0
245,1 AV - L,R248,H007,00-00-01,BMT,05/04/2017,20:00:00,REGULAR,57170055,36503445,1448.0,339.0
246,1 AV - L,R248,H007,00-00-01,BMT,05/05/2017,00:00:00,REGULAR,57170704,36503764,649.0,319.0
247,1 AV - L,R248,H007,00-00-01,BMT,05/05/2017,04:00:00,REGULAR,57170766,36503849,62.0,85.0
248,1 AV - L,R248,H007,00-00-01,BMT,05/05/2017,08:00:00,REGULAR,57171259,36504291,493.0,442.0
249,1 AV - L,R248,H007,00-00-01,BMT,05/05/2017,12:00:00,REGULAR,57172925,36504674,1666.0,383.0

## Adding ENTRIES_SUM and EXITS_SUM columns

In [134]:
# This will be necessary to be able to look at total traffic within any time period